.navbar{
    display:flex;
    height:50px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(89, 200, 244, 0.714);
    background-color: ghostwhite;
   
}
.navbar a{
    text-decoration: none;
    color: rgb(30, 191, 255);
    font-size: medium;
    font-weight: bold;
   
}
.nav_box{
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    height: 25px;
}
.pgname{
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 4.5%;
    border: 1px solid rgba(89, 200, 244, 0.714);
    border-top: 0;
    background-color: ghostwhite;
}
.pgname p{
    padding: 0;
    margin: 0;
    color: rgb(30, 191, 255);
    font-size: medium;

}
#wl-page{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: larger;
    color: rgb(30, 191, 255);

}
